body { font-family: Arial; padding: 20px; }

.page {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    margin: auto;
    page-break-after: always;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

button {
    cursor: pointer;
}